@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}

.loading{
    border-radius: 50%;
    animation: 2px 1s linear infinite;
    display: block;
    animation: spinner 1s linear infinite;
}

.center{
    margin: auto;
}

.default{
    border: 2px solid var(--clr-main);
    border-top-color: transparent 
}

.black{
    border: 2px solid black;
    border-top-color: transparent 
}

.light{
    border: 2px solid var(--clr-light);
    border-top-color: transparent 
}

.dark{
    border: 2px solid var(--clr-dark);
    border-top-color: transparent 
}

.red{
    border: 2px solid var(--clr-red);
    border-top-color: transparent 
}

.blue{
    border: 2px solid var(--clr-blue);
    border-top-color: transparent 
}

.green{
    border: 2px solid var(--clr-green);
    border-top-color: transparent 
}
