.container {
  position: relative;

  .item {
    &:hover + .message {
      display: block;
    }
  }

  .message {
    display: none;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light);
    padding: 0.2rem 0.5rem;
    z-index: 1; 
    p {
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
