:root{
    --primary: #ff9538;
    --primary-light: rgb(249, 223, 200);
    --primary-dark: rgb(252, 122, 9);
    --primary-fade: rgba(255, 149, 56, 0.784);

    --text: #555555;
    --text-light: rgb(79, 79, 79);

    --dark-shade: rgba(57, 57, 57, 0.632);
    --dark: black;
    --light-shade: rgba(244, 244, 244, 0.976);
    --light: rgb(245, 245, 245);

    --background: white;
    --background-light: white;
    
    --red: rgb(236, 92, 92);
    --blue: rgb(36, 116, 245);
    --green: rgb(84, 210, 111);
    --yellow: yellow;
}