:root{
    --clr-main: #ff9538;
    --clr-main-light: rgb(252, 209, 171);
    --clr-main-dark: rgb(252, 122, 9);
    --clr-main-fade: rgba(255, 149, 56, 0.784);

    --clr-background: white;
    --clr-background-light: white;

    --clr-text: #555555;
    --clr-text-light: rgb(79, 79, 79);
    --clr-text-dark: rgb(16, 16, 16);
    --clr-text-fade: rgba(61, 61, 61, 0.881);

    --clr-dark: #191919c5;
    --clr-dark-light: #34343452;
    --clr-light: #DFE0DF;
    --clr-light-light: #f0efef98;
    
    --clr-red: rgb(236, 92, 92);
    --clr-blue: rgb(36, 116, 245);
    --clr-green: rgb(84, 210, 111);
    --clr-yellow: yellow;
}