.container{
    width: 100%;

    input{
        padding: 0.5rem;
        width: 100%;
        transition: 0.2s ease-in-out;
        margin-bottom: 0.5rem;
        box-sizing: border-box;
        border: 1px solid var(--light);
        background-color: var(--light);;
        
        &:hover{
            border-color: var(--primary);
        }
    }

    p{
        width: 100%;
        margin-bottom: 0.2rem;
        font-weight: 200;
    }

    .double{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .error{
        border: 1px solid var(--red);
    }

}