.container{
    margin: 2rem auto;
    padding: 0.5rem;
    section{
        margin: 0.5rem 0;
        padding: 0.5rem 0;
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            padding: 0.5rem;
            font-size: 1rem;
            display: flex;
            align-items: center;
            span{
                margin: 0 0.5rem;
            }
            &:hover{
                *{
                    color: var(--clr-main);
                }
            }
        }
    }
    .user{
        a{
            display: flex;
            align-items: center;
            max-width: 500px;
            &:hover{
                opacity: 0.8;
            }
            p{
                display: flex;
                span{
                    margin-left: 0.5rem;
                }
                span:nth-child(3){
                    color: var(--clr-main);
                }
            }
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background-color: var(--clr-light);
            border: 2px solid var(--clr-light-light);
        }
    }
    .extra{
        border-top: 1px solid var(--clr-light);
        border-bottom: 1px solid var(--clr-light);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .extraBoxes{
            display: flex;
            align-items: center;
            gap: 0.6rem;
        }
        svg{
            font-size: 1.3rem;
            display: flex;
        }
        button{
            &:hover{
                color: var(--clr-main);
            }
        }
        .crypto{
            text-align: center;
            width: 100%;
            margin: 0.2rem 0;
            background-color: var(--clr-light-light);
            padding: 0.3rem 0;
            border: 1px solid transparent;
            &:hover{
                border-color: var(--clr-main);
                color: white;
            }
            span{
                display: block;
                text-align: center;
            }
            small{
                font-weight: 200;
            }
        }
    }
    .image{
        img{
            background-color: var(--clr-light);
            height: clamp(300px, 30vw, 35vw);
            width: 100%;
        }
    }
    .information{
        .header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            h1{
                margin-right: 0.5rem;
            }
            .heart{
                color: var(--clr-red);
            }
            svg{
                font-size: 1.5rem;
            }
        }
        .duration{
            display: flex;
            align-items: center;
            svg{
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }
        }
    }

    .ingredients{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 1rem 0;
        .ingredient{
            margin: 0.3rem 0;
        }
    }

    .steps{
        .step{
            img, video, iframe{
                width: 100%;
                height: clamp(300px, 20vw, 25vw);
            }
            img{
                object-fit: contain;
                background-color: var(--clr-light-light);
                border: 1px solid var(--clr-light);
            }
            video{
                overflow-x: auto;
            }
            p, small, span, b, h2, a, video, img{
                margin: 1rem 0;
                display: block;
                white-space: pre-line;
            }
            a{
                color: var(--clr-blue);
            }
            span{
                font-weight: 200;
            }
            iframe{
                background-color: var(--clr-light-light);
            }
        }
        .previewImage{
            img{
                max-width: 500px;
                height: 500px;
                object-fit: cover;
            }
        }
    }

}