.container{
    padding: 0.5rem;
    
    .upload{
        .inputFile{
            display: none;
        }
        label{
            display: block;
            text-align: center;
            border: 2px dotted black;
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                border-color: var(--clr-main);
            }
        }
    }

    .preview{
        position: relative;
        margin: 1rem 0;
        button{
            position: absolute;
            right: 0.2rem;
            top: 0.2rem;
            background-color: var(--clr-red);
            display: flex;
            color: white;
            padding: 0.5rem;
            border-radius: 5px;
        }

        img{
            width: 100%;
            height: 200px;
            background-color: var(--clr-light);
            border-radius: 5px;
        }
    }

}