.container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
        border-bottom: 1px solid var(--dark);
    }

    svg{
        font-size: 1.5rem;
        display: block;
    }
    button, a{
        &:hover{
            opacity: 0.8;
        }
    }
    .red{
        color: var(--red);
    }
}