.container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg{
        font-size: 2rem;
        display: block;
    }
    button, a{
        display: flex;
        align-items: center;
        &:hover{
            opacity: 0.8;
        }
    }
    .red{
        color: var(--red);
    }
}