.container{
    .dropdownBtn{
        position: absolute;
        right: 0.2rem;
        top: 0.2rem;
        padding: 0.3rem;
        transition: 0.2s ease-in-out;
        border-radius: 5px;
        display: flex;
        background-color: white;

        svg{
            font-size: 1.1rem;
        }

        &:focus{
            svg{
                color: var(--clr-main);
            }
        }
    
        &:hover{
            border-color: var(--clr-main);
        }
    }

    .dropdownBtn:focus + .children, .children:active{
        display: block;
    }

    .children{
        display: none;
        position: absolute;
        right: 0.2rem;
        top: 2rem;
        background-color: white;
        border: 1px solid var(--clr-light);
        margin-top: 0.1rem;
        width: 150px;
        padding: 0.5rem;
        border-radius: 5px;
    }
    .children:hover{
        display: block;
    }
}